<!-- render all payouts from wallet -->
<div id="<%= dom_id payout %>">
    <tr>
        <td class="col-1">
            <%= payout.transfer_code %>
        </td>
        <td class="col-1">
            <%= payout.date %>
        </td>
        <td class="col-1">
            <%= payout.amount %>
        </td>
        <td class="col-1">
            <%= payout.reason %>
        </td>
    </tr>
</div>